:root {
    --col-title: #f8eee3;
    --col-main: #3d3c3c;

    --col-light: #fae0d4;
    --col-dark: #f6d2c1;
    --col-footer: #483641;
}

body {
    background-color: var(--col-light);

    font-family: trade-gothic-next, sans-serif;


    font-style: normal;
    font-size: 22px;
    margin: 0;
    color: var(--col-main);
}
.center{

    text-align: center;
    margin: 0;
}
.bgLight{
    background-color: var(--col-light);
}
.bgDark{
    background-color: var(--col-dark);
}
.section{
    padding: 2%;
}
.footer{
    padding: 2%;
    background-color: var(--col-footer);
    color: lightgray;
    font-size: 20px;
}
.title{
    background-image: url("clouds0.jpg");
    color: var(--col-title);
    height: 100vh;
    margin: 0;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.title img {
    max-width: 10%;
    height: auto;
    padding-top: 10%;
    margin: 2px;

}
h1 {
    margin-top: 0;
    padding-top: 0;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 10%;
    text-shadow: 0 0 5px black;
}
h2 {
    font-weight: 600;
    font-size: 30px;
    margin: 10px;
    text-shadow: 0 0 3px black;
}
h3 {
    font-weight: 500;
    font-size: 30px;
    margin: 10px;
}
h4 {
    font-weight: 200;
    font-size: 24px;
    margin: 7px;
}
.title p {

    text-shadow: 0 0 2px black;
}
.image{
    display: inline-block;
    width: 30%;
    margin: 5px;
    background: rgba(0, 0, 0, 0.03);
}
.image img {
    height: 300px;
    width: auto;
    background-size: cover;
}
.grid {
    padding-top: 1px;
    background: rgba(0, 0, 0, 0.03);
    max-height: 50%;
}
.grid img {
    max-width: 30%;
    margin: 10px;

    width: auto;
    background-size: cover;
}
.vision {
    padding-top: 1px;
    max-height: 50%;
}
.vision img {
    max-width: 40%;
    margin: 0;
    height: 500px;
    width: auto;
    background-size: cover;
}
img {
    max-width: 70%;
    height: auto;
    margin: 10px;
}
.leftAlign {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

.text {
    font-size: 18px;
}